name: CI

on:
  workflow_dispatch: # Manual trigger
  push:
    branches:
      - master
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        name: Setup Bun
        with:
          bun-version: 1.2.18

      # Setup Bun cache
      - uses: actions/cache@v3
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - run: bun install --frozen-lockfile
      - run: bun exec playwright install --with-deps

      # Run Turborepo build, lint, and check-types
      - run: bun exec turbo run lint build check-types
